@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  scroll-behavior: smooth;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
select,
textarea {
  font-family: inherit;
}

ul,
ol,
li {
  list-style: none;
}

.wrapper {
  font-family: "Roboto", sans-serif, "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 120%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  height: 100px;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background: #fff;
  border-top: 5px solid #ff7500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  width: 230px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-logo img {
  width: 39px;
  height: 60px;
  background-size: cover;
  background-repeat: no-repeat;
}
.header-logo_name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #252420;
}
.header-logo_name span {
  color: #ff7500;
}
.header-logo:hover {
  opacity: 0.8;
}
.header-logo:active {
  opacity: 0.6;
}
.header-links {
  width: 425px;
  height: 15px;
  display: flex;
  align-items: center;
  -moz-column-gap: 31px;
       column-gap: 31px;
}
.header-link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #000;
  transition: all 0.2s ease-in-out;
}
.header-link:hover {
  color: #ff7500;
}
.header-link:active {
  opacity: 0.6;
}
.header-register {
  border-radius: 4px;
  padding: 12px 24px;
  background: #ff7500;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header-register:hover {
  opacity: 0.8;
}
.header-register:active {
  opacity: 0.6;
}

.hero {
  width: 100%;
  height: 550px;
  background: #252420;
}
.hero-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
}
.hero-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hero-content_title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.hero-content_subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
  margin-top: 24px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 32px;
}
.hero-line {
  width: 90px;
  height: 3px;
  background: #ff7500;
  margin: 40px 0;
}
.hero-image {
  width: 50%;
  height: 100%;
}
.hero-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.features {
  width: 100%;
  height: 940px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-row {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.features-title {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-bottom: 72px;
}
.features-cards {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features-card {
  width: 340px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}
.features-card_image {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: rgba(255, 117, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}
.features-card_name {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #000;
  margin: 32px 0 12px 0;
}
.features-card_descript {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #000;
}

.discount {
  width: 100%;
  height: 510px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.discount-row {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.discount-content {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}/*# sourceMappingURL=main.css.map */