// Fonts

$font-family: "Roboto", sans-serif;
$second-family: "Roboto Condensed", sans-serif;
// Colors

$black-color: #000;
$white-color: #fff;
$hero-color: #252420;
$main-color: #ff7500;


// Sizes

$container-width: 1120px;
$container-padding: 20px;