.header {
  width: 100%;
  height: 100px;
  padding: 20px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.05);
  background: $white-color;
  border-top: 5px solid $main-color;
  @include center();

  &-row {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    width: 230px;
    height: 60px;
    column-gap: 12px;
    cursor: pointer;
    @include center();
    @include trn();

    img {
      width: 40px;
      height: 60px;
      background-size: cover;
      background-repeat: no-repeat;
    }

    &_name {
      font-family: $second-family;
      font-weight: 700;
      font-size: 32px;
      color: $hero-color;

      span {
        color: $main-color;
      }
    }

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }

  &-links {
    width: 425px;
    height: 15px;
    display: flex;
    align-items: center;
    column-gap: 31px;
  }

  &-link {
    font-family: $font-family;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: $black-color;
    @include trn();

    &:hover {
      color: $main-color;
    }

    &:active {
      opacity: 0.6;
    }

    &.active {
      padding-bottom: 4px;
      border-bottom: 3px solid $main-color;
    }
  }

  &-register {
    border-radius: 4px;
    padding: 12px 24px;
    background: $main-color;
    font-family: $font-family;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    color: $white-color;
    cursor: pointer;
    @include trn();

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}